<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous'>
<div id="wrapper">
    <h4 class="purple_text">Edit author:</h4>
    <div id="add_author_form_wrapper">
        <form (submit)="updateAuthor()">
            <label class="block" for="author_name">Name:</label>
            <input class="block" name="author_name" [(ngModel)]="updatedAuthor.name">
            <button class="blue_button" id="home_button" [routerLink]="['/home']"><h5>Cancel</h5></button>
            <button class="blue_button" type="submit"><h5>Submit</h5></button>
        </form>
    </div>
</div>