<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous'>
<h4 class="purple_text">List of authors:</h4>
<div id="table_wrapper">
  <table class="table table-bordered">
    <tr>
      <th>Author</th>
      <th>Actions available</th>
    </tr>
    <tr *ngFor="let author of authors_array; index as i">
      <td ><h4 class="purple_text author_margin">{{ authors_array[i].name }}</h4></td>
      <td> 
        <button class="edit_button" [routerLink]="['/edit/'+authors_array[i]._id]">Edit</button>
        <button class="delete_button" (click)="deleteAuthor(authors_array[i]._id)">Delete</button>
      </td>
    </tr>
  </table>
</div>